// --- Header ---
$header-background-color: #ebeae6;
$header-height: 56px;

// --- Button ---
$primary-button-text-color: #ffffff;
$primary-button-color: #f7941d;
$button-height: 40px;

// --- Font ---
// ToDo: Define correct font sizes
$font-xx: small;
$font-sm: 12px;
$font-md: 14px;
$font-lg: x-large;

$secondary-font-color: #7f888f;

// --- Card ---
$card-background-color: #ffffff;

// --- Units ---

$unit-sm: 8px;
$unit-md: 16px;

// --- List ---
$list-min-width: 320px;
