.lemon-map {
    $icon-size--min: 40px;
    $icon-size--max: 48px;

    width: 100%;
    height: 100%;

    &__viewport {
        width: 100%;
        height: 100%;
    }

    ::ng-deep &__icon {
        width: $icon-size--min;
        height: $icon-size--min;
        background: url("../../../assets/images/home-icon--gray.svg") no-repeat center center;
        background-size: contain;
        transition: all 5ms ease-in-out;

        ::ng-deep &--active {
            width: $icon-size--max;
            height: $icon-size--max;
            background-image: url("../../../assets/images/home-icon.svg");
        }
    }
}
